/* Importé una fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffdf7;
}

/* --- Efectos para el NavBar --- */
.navbar-custom {
  background: linear-gradient(180deg, #000000 0%, #1a1a1a 100%); 
  border-bottom: 4px solid #CE1126; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.nav-link-magic {
  color: #ffffff !important;
  font-weight: 500;
  letter-spacing: 0.5px;
  position: relative;
  transition: color 0.3s ease;
}

/* Efecto de subrayado al pasar el mouse */
.nav-link-magic::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #F9D616;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.nav-link-magic:hover {
  color: #F9D616 !important;
}

.nav-link-magic:hover::after {
  width: 100%;
  left: 0;
  background: #F9D616;
}

/* Logo */
.brand-magic span:first-child {
    text-shadow: 2px 2px 4px rgba(249, 214, 22, 0.3);
}


/* Efectos para el Carritoc*/
.cart-widget-container {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.cart-widget-container:hover {
    transform: scale(1.15);
}


/* Efectos para el Container */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-card-magic {
    background: radial-gradient(circle at top left, #ffffff, #f8f9fa);
    border: none;
    border-top: 6px solid #CE1126; 
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeUp 0.8s ease-out forwards;
}

/* Botón*/
.btn-magic-red {
    background-color: #CE1126;
    border: none;
    padding: 12px 30px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 4px 15px rgba(206, 17, 38, 0.4);
    transition: all 0.3s ease;
}

.btn-magic-red:hover {
    background-color: #a80c1d;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(206, 17, 38, 0.6);
}